<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>Accueil</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form }}
      <button type="submit">Importer l'image</button>
    </form>

    <h2>Listes des images importées</h2>

    {% for image in images %}
    <div>
      <br />
      <img
        src="{{ image.original_image.url }}"
        alt="Original Image"
        width="200"
        height="100"
      />
      <br />
      <!-- Affichage de l'ID de l'image et de son lien -->
      <p>ID de l'image: {{ image.id }}</p>
      <!-- Lien vers l'image -->
      <p>Lien : {{ image.original_image.url }}</p>
      <br />
      <a href="{% url 'process_image' image_id=image.id %}">Traiter l'image</a>

      <br />

      <p>
        -------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
    </div>
    {% endfor %}
  </body>
</html>
