<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>Home</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form }}
      <button type="submit">Import an image</button>
    </form>

    <h2>List of images imported</h2>

    {% for image in images %}
    <div>
      <br />
      <img
        src="{{ image.original_image1.url }}"
        alt="Original Image {{ forloop.counter }}"
        width="200"
        height="100"
      />
      <br />
      <img
        src="{{ image.original_image2.url }}"
        alt="Original Image {{ forloop.counter }}"
        width="200"
        height="100"
      />
      <br />
      <p>Couple of id's image : {{ image.id }}</p>
      <p>1st Link : {{ image.original_image1.url }}</p>
      <p>2nd Link : {{ image.original_image2.url }}</p>
      <br />
      <h3>Original Images</h3>
      <a href="{{ image.original_image1.url }}" download="image1"
        >Download Image 1</a
      >
      <a href="{{ image.original_image2.url }}" download="image2"
        >Download Image 2</a
      >
      <a href="{% url 'process_image' image_id=image.id %}">Process image</a>
      <br />
      <p>-------------------------------------------------------------</p>
    </div>
    {% endfor %}
  </body>
</html>
