<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>Accueil</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form }}
      <button type="submit">Importer l'image</button>
    </form>

    <h2>Listes des images importées</h2>

    {% for image in images %}
    <div>
      <br />
      <img
        src="{{ image.original_image1.url }}"
        alt="Original Image {{ forloop.counter }}"
        width="200"
        height="100"
      />
      <br />
      <img
        src="{{ image.original_image2.url }}"
        alt="Original Image {{ forloop.counter }}"
        width="200"
        height="100"
      />
      <br />
      <!-- Affichage de l'ID de l'image et de son lien -->
      <p>Couple d'image d'id : {{ image.id }}</p>
      <!-- Lien vers l'image -->
      <p>Lien 1ère : {{ image.original_image1.url }}</p>
      <p>Lien 2ème : {{ image.original_image2.url }}</p>
      <br />
      <h3>Télécharger Original Images</h3>
      <a href="{{ image.original_image1.url }}" download="image1"
        >Télécharger Image 1</a
      >
      <a href="{{ image.original_image2.url }}" download="image2"
        >Télécharger Image 2</a
      >
      <a href="{% url 'process_image' image_id=image.id %}">Traiter l'image</a>
      <br />
      <p>-------------------------------------------------------------</p>
    </div>
    {% endfor %}
  </body>
</html>
