<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Processed Image</title>
  </head>
  <body>
    <!-- Affichage des images importées -->
    <h2>Original Image</h2>
    <img
      src="{{ image.original_image1.url }}"
      alt="Original Image"
      width="200"
      height="100"
    />
    <img
      src="{{ image.original_image2.url }}"
      alt="Original Image"
      width="200"
      height="100"
    />

    <!-- Affichage de l'image en nuances de gris -->
    {% if image.grayscale_image %}
    <h2>Grayscale Image</h2>
    <img
      src="{{ image.grayscale_image.url }}"
      alt="Grayscale Image"
      width="200"
      height="100"
    />
    {% endif %}

    <!-- Affichage de l'image modifiée en noir et blanc -->
    {% if image.black_and_white_image %}
    <h2>Black and White Image</h2>
    <img
      src="{{ image.black_and_white_image.url }}"
      alt="Black and White Image"
      width="200"
      height="100"
    />
    {% endif %}

    <!-- Affichage de l'image redimensionnée -->
    {% if image.resized_image %}
    <h2>Resized Image</h2>
    <img src="{{ image.resized_image.url }}" alt="Resized Image" />
    {% endif %}

    <!-- Affichage de l'image fusionnée -->
    {% if image.merged_image %}
    <h2>Merged Image</h2>
    <img
      src="{{ image.merged_image.url }}"
      alt="Merged Image"
      width="200"
      height="100"
    />
    {% endif %}

    <!-- Formulaire pour effectuer d'autres modifications -->
    <h2>Modify Image</h2>
    <form
      action="{% url 'process_image' image_id=image.id %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <label for="action">Choose Action:</label>
      <select name="action" id="action">
        <option value="convert_bw">Convert to Black and White</option>
        <option value="apply_filter">Apply Filter (Grayscale)</option>
        <option value="resize">Resize</option>
        <option value="merge">Merge Images</option></select
      ><br /><br />
      <label for="filter_type">Choose Grayscale Filter:</label>
      <select name="filter_type" id="filter_type">
        <option value="SHARPEN">Sharpen</option>
        <option value="EMBOSS">Emboss</option>
        <option value="FIND_EDGES">Find Edges</option></select
      ><br /><br />
      <label for="width">Width:</label>
      <input type="text" name="width" id="width" /><br /><br />
      <label for="height">Height:</label>
      <input type="text" name="height" id="height" /><br /><br />
      <input type="submit" value="Apply Changes" />
    </form>
  </body>
</html>
