<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Processed Image</title>
  </head>
  <body>
    <!-- Affichage des images importées -->
    <h2>Original Images</h2>
    <img
      src="{{ image.original_image1.url }}"
      alt="Original Image 1"
      width="200"
      height="100"
    />
    <img
      src="{{ image.original_image2.url }}"
      alt="Original Image 2"
      width="200"
      height="100"
    />

    <h3>Télécharger Original Images</h3>
    <a href="{{ image.original_image1.url }}" download="image1"
      >Télécharger Image 1</a
    >
    <a href="{{ image.original_image2.url }}" download="image2"
      >Télécharger Image 2</a
    >

    <p>-------------------------------------------------------------</p>
    <br />

    <!-- Affichage des images en noir et blanc -->
    {% if image.black_and_white_image1 %}
    <h2>Black and White Images</h2>
    <img
      src="{{ image.black_and_white_image1.url }}"
      alt="Black and White Image 1"
      width="200"
      height="100"
    />
    <img
      src="{{ image.black_and_white_image2.url }}"
      alt="Black and White Image 2"
      width="200"
      height="100"
    />
    <h3>Télécharger Black and White Images</h3>
    <a href="{{ image.black_and_white_image1.url }}" download="image1"
      >Télécharger Image 1</a
    >
    <a href="{{ image.black_and_white_image2.url }}" download="image2"
      >Télécharger Image 2</a
    >
    <p>-------------------------------------------------------------</p>
    <br />
    {% endif %}

    <!-- Affichage de l'image en nuances de gris -->
    {% if image.grayscale_image1 %}
    <h2>Grayscale Images</h2>
    <img
      src="{{ image.grayscale_image1.url }}"
      alt="Grayscale Image 1"
      width="200"
      height="100"
    />
    <img
      src="{{ image.grayscale_image2.url }}"
      alt="Grayscale Image 2"
      width="200"
      height="100"
    />
    <h3>Télécharger Grayscale Images</h3>
    <a href="{{ image.grayscale_image1.url }}" download="image1"
      >Télécharger Image 1</a
    >
    <a href="{{ image.grayscale_image2.url }}" download="image2"
      >Télécharger Image 2</a
    >
    <p>-------------------------------------------------------------</p>
    <br />
    {% endif %}

    <!-- Affichage de l'image redimensionnée -->
    {% if image.resized_image1 %}
    <h2>Resized Images</h2>
    <img src="{{ image.resized_image1.url }}" alt="Resized Image 1" />
    {% endif %} {% if image.resized_image2 %}
    <img src="{{ image.resized_image2.url }}" alt="Resized Image 2" />
    <h3>Télécharger Resized Images</h3>
    <a href="{{ image.resized_image1.url }}" download="image1"
      >Télécharger Image 1</a
    >
    <a href="{{ image.resized_image2.url }}" download="image2"
      >Télécharger Image 2</a
    >
    <p>-------------------------------------------------------------</p>
    <br />
    {% endif %}

    <!-- Affichage de l'image fusionnée -->
    {% if image.merged_image %}
    <h2>Merged Image</h2>
    <img
      src="{{ image.merged_image.url }}"
      alt="Merged Image"
      width="200"
      height="100"
    />
    <h3>Télécharger Merged Image</h3>
    <a href="{{ image.merged_image.url }}" download="merged_image"
      >Télécharger Merged Image</a
    >
    <p>-------------------------------------------------------------</p>
    <br />
    {% endif %}

    <!-- Affichage des images alignées -->
    {% if image.alignment_image %}
    <h2>Alignment Image</h2>
    <img
      src="{{ image.alignment_image.url }}"
      alt="Alignment Image"
      width="200"
      height="100"
    />
    <h3>Télécharger Alignment Image</h3>
    <a href="{{ image.alignment_image.url }}" download="alignment_image"
      >Télécharger Alignment Image</a
    >
    <p>-------------------------------------------------------------</p>
    <br />
    {% endif %}

    <!-- Formulaire pour effectuer d'autres modifications -->
    <h2>Modify Image</h2>
    <form
      action="{% url 'process_image' image_id=image.id %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <label for="action">Choose Action:</label>
      <select name="action" id="action">
        <option value="convert_bw">Convert to Black and White</option>
        <option value="apply_filter">Apply Filter (Grayscale)</option>
        <option value="resize">Resize</option>
        <option value="merge">Merge Images</option>
        <option value="alignment">Alignment Images</option></select
      ><br /><br />
      <label for="filter_type">Choose Grayscale Filter:</label>
      <select name="filter_type" id="filter_type">
        <option value="EMBOSS">Emboss</option>
        <option value="FIND_EDGES">Find Edges</option>
        <option value="SHARPEN">Sharpen</option></select
      ><br /><br />
      <label for="width">Width:</label>
      <input type="text" name="width" id="width" /><br /><br />
      <label for="height">Height:</label>
      <input type="text" name="height" id="height" /><br /><br />
      <label for="rate">Rate of merge :</label>
      <input type="text" name="rate" id="rate" /><br /><br />

      <label for="alignment_type">Choose Type of Alignment:</label>
      <select name="alignment_type" id="alignment_type">
        <option value="VERTICAL">VERTICAL</option>
        <option value="HORIZONTAL">HORIZONTAL</option></select
      ><br /><br />
      <input type="submit" value="Apply Changes" />
    </form>
  </body>
</html>
